ollama
langchain-chroma
streamlit 
pdfplumber 
langchain
langchain-core
langchain-community
langchain_text_splitters
unstructured
unstructured[pdf]
langchain-unstructured
pypdf
Pillow
pdfkit
langchain-openai
openpyxl
langchain-experimental